.jumbotron {
  padding-top: 5rem;
  background-color: #e2edff;
}

#project {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

.galerry-img {
  width: 100%;
}

#galerry .row > * {
  padding: 0;
}

/* Coffe Section */
.coffe-box {
  position: relative;
  background-color: #0c6efd;
  border-radius: 10px;
  height: 500px;
  transform-style: preserve-3d;
}

.coffe-box::before {
  content: 'MY';
  position: absolute;
  color: #fff;
  font-size: 6em;
  font-weight: bold;
  font-style: italic;
  top: 20px;
  opacity: 0;
  left: -100px;
  transition: 0.5s;
}

.coffe-box:hover::before {
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0.2;
}

.coffe-box::after {
  content: 'COFFE';
  position: absolute;
  color: #fff;
  font-size: 4.3em;
  font-weight: bold;
  font-style: italic;
  top: 340px;
  opacity: 0;
  left: 450px;
  transition: 0.5s;
}

.coffe-box:hover::after {
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0.2;
}

.coffe-name {
  position: absolute;
  top: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 2em;
  opacity: 0;
  transition: 0.5s;
  transform: translate3d(0, 0, 50px);
}

.coffe-box:hover .coffe-name {
  top: 20px;
  opacity: 1;
}

.coffe-details {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 100px);
  opacity: 0;
  transition: 0.5s;
}

.coffe-box:hover .coffe-details {
  bottom: 20px;
  opacity: 1;
}

.coffe-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 80px);
  min-width: 250px;
  transition: 0.5s;
}

.coffe-img2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 80px);
  min-width: 200px;
  transition: 0.5s;
}

.coffe-img3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 80px);
  min-width: 150px;
  transition: 0.5s;
}

.coffe-box:hover .coffe-img {
  transform: translate3d(-50%, -50%, 100px) scale(1.2) rotate(5deg);
}

.coffe-box:hover .coffe-img2 {
  transform: translate3d(-50%, -50%, 100px) scale(1.1) rotate(5deg);
}

.coffe-box:hover .coffe-img3 {
  transform: translate3d(-50%, -50%, 100px) scale(1) rotate(5deg);
}
